body {
    background-color: rgb(40, 40, 40);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    background-color: beige;
    padding-left: auto;
    margin-left: auto;
    padding-right: auto;
    margin-right: auto;
    border: 9px dotted orange;
    text-align: center;
}

.square  {
    padding-left: auto;
    margin-left: auto;
    padding-right: auto;
    margin-right: auto;
    font-size: 70px; 
    border: 3px solid orange;
    border-radius: 20px;
    background-color: rgb(239, 195, 113);
}

#s1.square::after {
    content: "??";
}

#s1.square:active::after {
    content: "☠️";
}

#s2.square::after {
    content: "??";
}

#s2.square:active::after {
    content: "☠️";
}

#s3.square::after {
    content: "??";
}

#s3.square:active::after {
    content: "☠️";
}

#s4.square::after {
    content: "??";
}

#s4.square:active::after {
    content: "👻";
}

#s5.square::after {
    content: "??";
}

#s5.square:active::after {
    content: "☠️";
}

#s6.square::after {
    content: "??";
}

#s6.square:active::after {
    content: "☠️";
}

#s7.square::after {
    content: "??";
}

#s7.square:active::after {
    content: "☠️";
}

#s8.square::after {
    content: "??";
}

#s8.square:active::after {
    content: "☠️";
}

#s9.square::after {
    content: "??";
}

#s9.square:active::after {
    content: "☠️";
}
